USE [master]
GO
/****** Object:  Database [FoodInventory]    Script Date: 10/1/2016 2:43:01 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'FoodInventory')
BEGIN
CREATE DATABASE [FoodInventory]
END

ALTER DATABASE [FoodInventory]
MODIFY FILE
(NAME = N'FoodInventory', SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB)
GO

ALTER DATABASE [FoodInventory]
MODIFY FILE
(NAME = N'FoodInventory_log', SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodInventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodInventory]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/1/2016 2:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
	[SpoilDate] [datetime] NULL,
	[UnitsAvailable] [int] NOT NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
